.container{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    position: absolute;
    top: 0;
    right: 0;



}
body{
    background-image: url('../images/music.png');
    background-size: cover;
    font-family: 'Jura', sans-serif;




}

.links{
    word-spacing: 5vw;
    font-size: 1.5VW;
    color: #292F36;
    grid-row: 1/1;
    grid-column: 4/10;
    position: relative;
    left: 7vw;
    font-family: 'Jura', sans-serif;

}
.active{
    color: #292F36;;
    word-spacing: 5vw;

}
#regspace1, #regspace2{
    word-spacing: 5px;
}
.piano{
    grid-column:2/5;
    grid-row: 3/5;
    position: relative;
    top: 20px;
    right: 6vw;


}
#piano{

    width: 27vw;
    border: 5px solid #292F36;
    background-image: url('../images/kakmusic.png');
    background-size: 450px;
    Height: 525px;
    object-fit: contain;


}
.headline{
    grid-column: 7/10;
    grid-row: 3/7;
    font-size: 46px;
    color: #292F36;
    font-family: 'Jura', sans-serif;
    width: 50vw;
    line-height: 4vw;
    position: relative;
    right: 20vw;
    top: 10px


}
hr{

    height: 6px;
    background-color: #4281A4;
    margin: 0 auto 0 auto;
    width: 30vw;
    text-align: center;
    position: relative;
    bottom: 20px;
}
button{
    width: 20vw;

    font-family: 'Great Vibes', cursive;
    color:#292F36;
    background-color: #4281A4;
    border-radius: 32px;
    padding: 0;
    border: 2px solid #292F36;
    text-shadow: 1px 1px #E7E4D7;
    font-weight: bold;
    line-height: 50px;
    position: relative;
    top: -1em;
    right: 10vw;

        width: 15vw;
        font-size: 30px;
        border: solid 2px #292F36;


        font-size: 50px !important;


}
.but{
    grid-column: 7/10;
    grid-row: 5/10;
    position: relative;
    top: 20px;

}
.rev{
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    text-align: center;



}
.pi{
    font-family: 'Jura', sans-serif;
    line-height:  40px;
    font-size:46px;
    text-align: center;
    position: relative;
        left: 20px
}
.logo{
    grid-column: 1/5;
    grid-row: 1/3;
    position: fixed;
    top:0;
    right: 67%;

}
.reb{
    grid-column:2/5;
    grid-row: 3/5;
}
#reb{

          position: relative;
          top: 20px;
          right: 6vw;
          width: 27vw;
        border: 5px solid #292F36;
        background-size: 450px;
        Height: 525px;
        object-fit: cover;
        background-color: #C9C69D;



}
h1{
    font-size: 4.5vw;
    font-family: 'Great Vibes', cursive;
    color: #4281A4;
    text-shadow: 2px 2px #292F36;
    position: relative;
    right: 3vw;

}
.heading{
    grid-row: 2;
    grid-column: 1/10;
    text-align: center;
    position: relative;
    left: 12vw;

}
.text{
    grid-column: 7/10;
    grid-row: 3/7;
    font-size: 20px;
    color: #292F36;
    font-family: 'Jura', sans-serif;
    width: 50vw;
    line-height: 4vw;
    position: relative;
    right: 20vw;
    top: 5px;



}
a{
    text-decoration: none;
    color:#292F36;
}
.pp{
    grid-row: 2;
    grid-column: 1/10;
    text-align: center;
    position: relative;
    left: 18vw;
}
h2{
    font-size: 2vw;
    font-family: 'Jura', sans-serif;
    color: #292F36;
    text-shadow: none;
    margin-bottom: 0;
    text-decoration: underline;
}
.generalinfo{
    grid-column: 7/10;
    grid-row: 3/7;
    font-size: 20px;
    color: #292F36;
    font-family: 'Jura', sans-serif;
    width: 50vw;
    line-height: 4vw;
    position: relative;
    right: 20vw;
    bottom: 20px;
}
.generalinfot{


}
.atlessons{
    grid-row: 6;
    grid-column: 5/10;
    position: relative;
    bottom: 4em;
}
.atlessonst{
    grid-row: 7;
    grid-column:5/10;
    position: relative;
    bottom: 1.5vw;
}


.keyboard{
    grid-column:2/5;
    grid-row: 3/5;
}
#keyboard{
background-color: #C9C69D;
width: 27vw;
border: 5px solid #292F36;
background-size: 450px;
Height: 525px;
object-fit: cover;
position: relative;
top: 20px;
right: 8vw;



}
.practice{
    grid-row: 10;
    grid-column:5/10;
    position: relative;
    top: 1vw;
}
.practicet{
    grid-row: 11;
    grid-column:5/10;
    position: relative;
    top: 1vw;

}
.instrument{
    grid-row: 14;
    grid-column:5/10;
    position: relative;
    top: 2vw;
}
.instrumentt{
    grid-row: 15;
    grid-column:5/10;
    position: relative;
    top: 2vw;
}
.hymns{
    grid-row: 17;
    grid-column:5/10;
    position: relative;
    top: 1vw;
}
.hymnst{
    grid-row: 18;
    grid-column:5/10;
    position: relative;
    top: 1vw;
}
.method{grid-row: 22;
    grid-column:5/10;
    position: relative;
    bottom: 2vw;
}
.methodt{
    grid-row: 23;
    grid-column: 5/10;
    position: relative;
    bottom: 2vw;
}
.materials{
    grid-row: 29;
    grid-column: 5/10;
    position: relative;
    bottom: 2vw;

}
.materialst{
    grid-row: 30;
    grid-column: 5/10;
    position: relative;
    bottom: 2vw;

}
.tuition{
    grid-row: 40    ;
    grid-column: 5/10;
    position: relative;
    bottom: 1vw;

}
.tuitiont{
    grid-row: 41;
    grid-column: 5/10;
    position: relative;
    bottom: 1vw;

}
.missed{
    grid-row: 42   ;
    grid-column: 5/10;
    position: relative;

}
.missedt{
    grid-row: 43;
    grid-column: 5/10;
    position: relative;
    bottom: .5vw;

}
.calender{
    grid-row: 44   ;
    grid-column: 5/10;
    position: relative;
    top: 1vw;

}
.calendert{
    grid-row: 45;
    grid-column: 5/10;
    position: relative;
    top: .5vw;
}
.encouragement{
    grid-row: 47;
    grid-column: 5/10;
    position: relative;
    top: 1vw;

}
.encouragementt{
    grid-row: 48;
    grid-column: 5/10;
    position: relative;
    top: .5vw;
}
.comunication{
    grid-row: 50;
    grid-column: 5/10;
    position: relative;
    top: 1.5vw;
}
.comunicationt{
    grid-row: 51;
    grid-column: 5/10;
    position: relative;
    top: 1vw;
}
.discontinue{
    grid-row: 53;
    grid-column: 5/10;
    position: relative;
    top: 1.5vw;
}
.discontinuet{
    grid-row: 54;
    grid-column: 5/10;
    position: relative;
    top: 1vw;
}

@media only screen and (max-width: 1199px){
    .rev{
        font-size: 30px !important;
        position: relative;
        right: 125px;
    }
    .pi{
      font-size: 25px !important;
      position: relative !important;
      left: -125px;
    }
    hr{
        display: none
    }
    button{
      line-height: 50px !important ;
    }

}
@media only screen and (max-width: 959px){
    h2{
        text-shadow: none !important;
    }
}
@media only screen and (max-width: 768px){
    h2{
        text-shadow: none !important;
    }
}

/* @media all and (min-width: 768px) and (max-width: 959px) { ... }
@media all and (min-width: 480px) and (max-width: 767px){ ... }
@media all and (max-width: 599px) { ... }
@media all and (max-width: 479px) { ... }  */